{% extends 'parent.html' %}
{% block title %}Change Password | Premier Mart {% endblock %}
{% load static %}
{% block content %}
{% load mytags %}

<div class="login_sec">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'myhome' %}">Home</a></li>
            <li class="active">Change Password</li>
        </ol>
        <h2>Change Password</h2>
        <div class="col-md-6 log">
            <form method="post">
                {% csrf_token %}
                <input type="password" name="oldpassword" placeholder="Old Password" class="form-control"/>
                <input type="password" name="password1" placeholder="New Password" class="form-control"/>
                <input type="password" name="password2" placeholder="Confirm Password" class="form-control"/>
                <input type="submit" value="Change Password">
            </form>
            {% if messages %}
            <ul>
                <li>{{ messages }}</li>
            </ul>
            {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}