{% extends 'parent.html' %}

{% block title %}Product Detail | Premier Mart {% endblock %}
{% load static %}
{% block content %}


<div class="contact">
	  <div class="container">
		 <ol class="breadcrumb">
		  <li><a href="{% url 'myhome' %}">Home</a></li>
		  <li class="active">Checkout</li>
		 </ol>
			<!---start-contact---->
			<h3>Checkout</h3>
		  <div class="section group">

				<div class="col-md-6 span_2_of_3">
				  <div class="contact-form">
					    <form method="post" action="{% url 'order' %}">
							{% csrf_token %}
					    	<div>
						    	<span><label>Name</label></span>
						    	<span><input name="name" type="text" class="textbox" required="required"></span>
						    </div>
                            <div>
						    	<span><label>Address</label></span>
						    	<span><textarea name="address" required="required"></textarea></span>
						    </div>
                            <div>
						     	<span><label>Phone</label></span>
						    	<span><input name="phone" type="number" class="textbox" required="required"></span>
						    </div>
						    <div>
						    	<span><label>E-Mail</label></span>
						    	<span><input name="email" type="email" class="textbox" required="required"></span>
						    </div>
                            <div>
                                <span><label>Payment Method</label></span>
						    	<span>
                                    <select name="paymentmethod" required="required">
                                        <option value="">Choose Payment Method</option>
                                        <option value="cod">Cash on Delivery</option>
                                        <option value="paytm_gpay">Paytm / GPay - 9389848934</option>
                                    </select>
                                </span>
                            </div>
						   <div>
						   		<span><input type="submit" class="mybutton" value="Submit"></span>
						  </div>
					    </form>

				    </div>
  				</div>
		  </div>
	  </div>
 </div>
<!---->
{% endblock %}
