
{% extends 'parent.html' %}

{% block title %}Welcome to Premier Mart.. {% endblock %}
{% load static %}
{% block content %}

<div class="banner">
	 <div class="container">
	 </div>
</div>
<!---->
<div class="welcome">
	 <div class="container">
		 <div class="col-md-3 welcome-left">
			 <h2>Welcome to Premier Mart</h2>
		 </div>
		 <div class="col-md-9 welcome-right">
			 <h3>Get things at less price</h3>
			 <p>This mart offers a wide variety of Chocolates, Flowers, Cakes and Plants.You get to purchase or send gifts online for loved ones as we provide the facilities.</p>
		 </div>
	 </div>
</div>
<!---->
<div class="bride-grids">
	 <div class="container">
		 <h2 align="center">Shop By Categories</h2>
		 <br>
		 {% if categorydata %}
		 {% for data in categorydata %}
		 <div class="col-md-4 bride-grid">
			 <div class="content-grid l-grids">
				 <figure class="effect-bubba">
						<img src="{{ data.category_image.url }}" alt=""/>
					<a href="{% url 'subcategories' data.id %}">
					 <figcaption>
							<h4>{{ data.category_name }} </h4>
							<p>Get the best deal</p>
						</figcaption>
					</a>
				 </figure>
				 <div class="clearfix"></div>
				 <h3>{{ data.category_name }}</h3>
			 </div>
		 </div>
		 {% endfor %}
		 {% else %}
		 <h1>No categories added yet</h1>
		 {% endif %}
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->

<div class="featured">
	 <div class="container">
		 <h3>Featured Products</h3>
		 <div class="feature-grids">
			 {% if featuredproducts %}
			 {% for pdata in featuredproducts %}
			 <div class="col-md-3 feature-grid jewel">
				 <a href="{% url 'productdetail' pdata.id %}"><img src="{{ pdata.Image1.url }}" alt=""/>
					 <div class="arrival-info">
						 <h4>{{ pdata.product_name }}</h4>
						 <p>Rs {{ pdata.discountedprice|floatformat:"0" }}</p>
						 <span class="pric1"><del>Rs {{ pdata.price }}</del></span>
						 <span class="disc">[{{ pdata.discount_percent }}% Off]</span>
					 </div>
				 </a>
			 </div>
			 {% endfor %}
			 {% else %}
			 <h2>No Featured Products available</h2>
			 {% endif %}
			 <div class="clearfix"></div>
		 </div>

	 </div>
</div>
<!---->
<div class="arrivals">
	 <div class="container">
		 <h3>New Arrivals</h3>
		 <div class="arrival-grids">
			 <ul id="flexiselDemo1">
				 {% if new_arrivals %}
				 {% for data in new_arrivals %}
				 <li>
					 <a href="{% url 'productdetail' data.id %}"><img src={{ data.Image1.url }} alt=""/>
					 <div class="arrival-info">
						 <h4>{{ data.product_name }}</h4>
						 <p>Rs {{ data.discountedprice }}</p>
						 <span class="pric1"><del>Rs {{ data.price }}</del></span>
						 <span class="disc">[{{ data.discount_percent }}% Off]</span>
					 </div>
					 </a>
				 </li>
				 {% endfor %}
				 {% else %}
				 <h3>No Products found</h3>
				 {% endif %}
				</ul>
				<script type="text/javascript">
				 $(window).load(function() {
				  $("#flexiselDemo1").flexisel({
					visibleItems: 4,
					animationSpeed: 1000,
					autoPlay: true,
					autoPlaySpeed: 3000,
					pauseOnHover:true,
					enableResponsiveBreakpoints: true,
					responsiveBreakpoints: {
						portrait: {
							changePoint:480,
							visibleItems: 1
						},
						landscape: {
							changePoint:640,
							visibleItems: 2
						},
						tablet: {
							changePoint:768,
							visibleItems: 3
						}
					}
				});
				});
				</script>
				<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
		  </div>
	 </div>
</div>
<!---->
<div class="shoping">
	 <div class="container">
		 <div class="shpng-grids">
			 <div class="col-md-4 shpng-grid">
				 <h3>Free Shipping</h3>
				 <p>On Order Over Rs999</p>
			 </div>
			 <div class="col-md-4 shpng-grid">
				 <h3>Order Return</h3>
				 <p>Return Within 14days</p>
			 </div>
			 <div class="col-md-4 shpng-grid">
				 <h3>COD</h3>
				 <p>Cash On Delivery</p>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
{% endblock %}
