{% extends 'parent.html' %}
{% block title %}Login | Premier Mart {% endblock %}
{% load static %}
{% block content %}
{% load mytags %}
<div class="login_sec">
	 <div class="container">
		 <ol class="breadcrumb">
		  <li><a href="{% url 'myhome' %}">Home</a></li>
		  <li class="active">Login</li>
		 </ol>
		 <h2>Login</h2>
		 <div class="col-md-6 log">
				 <p>Welcome to Premier Mart.</p>
				 <form method="post">

					 {% csrf_token %}
					 {{ form }}
					 <input type="hidden" name="next" value="{{ request.GET.next }}">
					 <input type="submit" value="Login">
					  <a class="acount-btn" href="{% url 'signup' %}">Create an Account</a>

				 </form>
				 <a href="#">Forgot Password ?</a>
				 {% if messages %}
					 	<ul>
							{% for message in messages %}
							<li>{{ message }}</li>
							{% endfor %}
						</ul>
			     {% endif %}
		 </div>

		 <div class="clearfix"></div>
	 </div>
</div>
<!---->

{% endblock %}
