{% extends 'parent.html' %}

{% block title %}Previous Orders | Premier Mart {% endblock %}
{% load static %}
{% block content %}
{% load mytags %}

<!---->
<div class="checkout">
	 <div class="container">
		 <ol class="breadcrumb">
		  <li><a href="{% url 'myhome' %}">Home</a></li>
		  <li class="active">Cart</li>
		 </ol>
		 <div class="col-md-12 product-price1">
			 <div class="check-out">
				 <div class=" cart-items">
					{% if orderscount > 0 %}
					 <h3>Previous Orders</h3>

					 <div class="in-check" >
						  <ul class="unit">

							<li align="center"><span>Order Date</span></li>
							<li align="center"><span>Person Name</span></li>
							<li align="center"><span>Grand Total</span></li>
							  <li align="center"><span>Order Status</span></li>
							  <li align="center"><span>Order Details</span></li>
							<div class="clearfix"> </div>
						  </ul>
						 {% for data in porders %}
						  <ul class="cart-header">


							<li><span>{{ data.order_date }}</span></li>
							<li><span>{{ data.person_name }}</span></li>
							<li><span>Rs.{{ data.grand_total }}/-</span></li>
						  <li><span>{{ data.order_status }}</span></li>
							  <li><span><a href="{% url 'orderdetails' data.id %}">More Details</a></span></li>
							<div class="clearfix"> </div>
							</ul>
							{% endfor %}
					 </div>
				  </div>
				 {% else %}
				 	<h3 align="center"> No Previous Orders </h3><br>
				 {% endif %}
			 </div>
		 </div>

	 </div>
</div>
<!---->
<div class="shoping">
	 <div class="container">
		 <div class="shpng-grids">
			 <div class="col-md-4 shpng-grid">
				 <h3>Free Shipping</h3>
				 <p>On Order Over Rs999</p>
			 </div>
			 <div class="col-md-4 shpng-grid">
				 <h3>Order Return</h3>
				 <p>Return Within 14days</p>
			 </div>
			 <div class="col-md-4 shpng-grid">
				 <h3>COD</h3>
				 <p>Cash On Delivery</p>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->

{% endblock %}
